<template>
  <div class="test">
    <h2>Test intégration - Dev Front</h2>
    <h1>Collection photo</h1>
    <div class="galerie">
        <kinesis-container class="parallax-container">
            <kinesis-element :strength="5" type="depth">
                <div class="flip-card" id="photo1" :class="{active : activation==1}" @click="activation=1">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="photo"  alt="coucher de soleil" src="../assets/photo1.jpg"/>
                        </div>
                        <div class="flip-card-back">
                            <p>5 Reasons To Choose a Netbook over a Computer Desktop</p>
                        </div>
                    </div>
                </div>
            </kinesis-element>
            <kinesis-element :strength="-7" type="depth">
                <div class="flip-card" id="photo2" :class="{active : activation==2}" @click="activation=2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="photo"  alt="machine" src="../assets/photo2.jpg"/>
                        </div>
                        <div class="flip-card-back">
                            <p>5 Reasons To Choose a Netbook over a Computer Desktop</p>
                        </div>
                    </div>
                </div>
            </kinesis-element>
            <kinesis-element :strength="-5" type="depth">
                <div class="flip-card" id="photo3" :class="{active : activation==3}" @click="activation=3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="photo"  alt="photographe" src="../assets/photo3.jpg"/>
                        </div>
                        <div class="flip-card-back">
                            <p>5 Reasons To Choose a Netbook over a Computer Desktop</p>
                        </div>
                    </div>
                </div>
            </kinesis-element>
            <kinesis-element :strength="7" type="depth">
                <div class="flip-card" id="photo4" :class="{active : activation==4}" @click="activation=4">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="photo"  alt="ordinateur" src="../assets/photo4.jpg"/>
                        </div>
                        <div class="flip-card-back">
                            <p>5 Reasons To Choose a Netbook over a Computer Desktop</p>
                        </div>
                    </div>
                </div>
            </kinesis-element>
        </kinesis-container>
        
    </div>

  </div>
</template>

<script>
import { KinesisContainer, KinesisElement} from 'vue-kinesis'

export default {
  name: 'TestIntegration',
  data() {
      return {
        activation: 0,
      }
  },
   components: {
    KinesisContainer,
    KinesisElement
   }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.test{
    height: 100vh;
    width: 100%;
    h1{
        position: absolute;
        width: 100%;
        height: 44px;
        top: 142px;

        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */

        text-align: center;

        color: #544632;
    }
    h2{
        position: absolute;
        width: 100%;
        height: 13px;
        top: 118px;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 1.57143px;
        text-transform: uppercase;
        color: #544632;
    }

    .galerie{
        height: 100vh;
        width: 100%;
        .parallax-container{
            height: 100vh;
            overflow: hidden;
            .flip-card {
                background-color: transparent;
                perspective: 1000px;
                position: absolute;

                    /* container  */
                    .flip-card-inner {
                        position: relative;
                        background-color:transparent;
                        width: 267px;
                        height: 354px;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        outline: none;
                    }

                    .flip-card-front, .flip-card-back {
                        position: absolute;
                        width: 267px;
                        height: 354px;
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                    
                    }

                    /* front */
                    .flip-card-front {
                        .photo{
                            width: 267px; 
                            height: 354px;
                            border: 12px solid #FFFFFF;
                            box-sizing: border-box;
                            box-shadow: 0px 6px 15px rgba(36, 36, 40, 0.08), 0px 1px 3px rgba(36, 36, 40, 0.2);
                            border-radius: 12px;
                        }
                    }

                    /* back */
                    .flip-card-back {
                        background-color: #FFF;
                        border-radius: 12px;
                        color: rgb(0, 0, 0);
                        transform: rotateY(180deg);
                        display: flex;
                        align-items: flex-end;
                        p{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            margin: 16px;
                            text-align: left;
                            color: #242429;
                        }
                        
                    }
                
                
            }

        

            /* Fait un flip horizontal */
            .active{
                transition: 1s;
                transition-timing-function: ease-in;
                z-index: 15 !important;
                box-shadow: 0px 32px 11px rgba(36, 36, 40, 0.07), 0px 32px 59px rgba(36, 36, 40, 0.2);
                border-radius: 12.8989px;
                .flip-card-inner{
                    transform: rotateY(180deg);
                }
            } 
            /* Placement des photos*/
            #photo1{
                transform: rotate(-10deg);
                left: calc(100%*(271.29/1440));
                top: calc(100vh*(417.91/934));
                animation: animPhoto 1s ease-in-out;
                z-index: 5;
            }
            #photo2{
                left: calc(100%*(479.9/1440));
                top: calc(100vh*(287.81/934));
                transform: rotate(-2deg);
                animation: animPhoto 1.5s ease-in-out;
                z-index: 6;
            }
            #photo3{
                left: calc(100%*(673.93/1440));
                top: calc(100vh*(337.08/934));
                transform: rotate(5deg);
                animation: animPhoto 2s ease-in-out;
                z-index: 7;
            }
            #photo4{
                left: calc(100%*(909.79/1440));
                top: calc(100vh*(257.96/934));
                transform: rotate(14deg);
                animation: animPhoto 2.5s ease-in-out;
                z-index: 8;
            }

            .flip-card:hover{
                z-index: 20;
                .photo{
                    transition: .8s;
                    transition-timing-function: ease-in-out;
                    z-index: 20;
                    box-shadow: 0px 32px 11px rgba(36, 36, 40, 0.07), 0px 32px 59px rgba(36, 36, 40, 0.2);
                    border-radius: 12.8989px;
                    border: 12.8989px solid #FFFFFF;
                }
            } 
        }
    }
}

 @keyframes animPhoto {
    from {
        opacity: 0;
        top: 934px;
    }
    to {
        opacity: 1;
        top: none;
    }
}



ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
