<template>
  <div id="app">
     
        <TestIntegration />
   
  </div>
</template>

<script>
import TestIntegration from './components/TestIntegration.vue'

export default {
  name: 'App',
  components: {
    TestIntegration
  }
}
</script>

<style lang="scss">
body{
  margin: 0;
  h1{margin: 0;}
}

#app {
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  box-sizing: border-box;
  /* bg */
  background: radial-gradient(63.61% 63.61% at 50% 50%, rgba(255, 255, 255, 1e-05) 0%, rgba(84, 70, 50, 0.1) 100%), url(./assets/bruit.png), #F7F4F0;
  background-blend-mode: multiply, multiply, normal;

}


</style>
